#foreach($obj in $newsList) 
   $velocityCount:&nbsp
   <p>
   $!{obj.title}<br>
   $!{obj.intro} <a href="/M/news/update?iiid=$!{obj.iiid}">修改</a>&nbsp;<a href="/M/news/del?iiid=$!{obj.iiid}">删除</a>
   </p>
#end
<p>
<a href="/M/news/add">添加</a>

